{
  "defaultSeverity": "warning",
  "plugins": ["stylelint-prettier", "stylelint-less"],
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "overrides": [
    { "files": ["**/*.html", "**/*.vue"], "customSyntax": "postcss-html" },
    { "files": ["**/*.less"], "customSyntax": "postcss-less" }
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen"] }
    ],
    "color-function-notation": null,
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["deep"] }],
    "selector-pseudo-element-no-unknown": [true, { "ignorePseudoElements": ["v-deep"] }]
  },
  "ignoreFiles": [
    "./node_modules/**/*.{css,less}",
    "./dist/**/*.{css,less}",
    "./.nuxt/**/*.{css,less}"
  ]
}
